#pagiItm .page-link {
    background-color: rgb(80, 80, 80);
    border: 1px solid rgb(128, 128, 128);
}


#blurback {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-color: #191a18f3;
    z-index: 99999;

  }

  .sptitle p {
    margin: auto;
    margin-top: 50px;
    letter-spacing: 0.4em;
    width: fit-content;
    font-weight: 600;
    font-size: 1.12em;
    color: #9ef783;
    text-shadow: 0 0 8px #08c108;

  }

  .spinner {
    margin: auto;
    margin-top: 300px;
    --size-of-spinner: 50px;
    --spinner-border-width: 4px;
    --spinner-color: #08c18a;
    --circle-color: #8bc34a24;
    --speed-of-animation: 2s;
    --scale: 1.3;
    width: var(--size-of-spinner);
    height: var(--size-of-spinner);
    background: var(--circle-color);
    border-radius: 50%;
    position: relative;
    overflow: visible;
  }
   .spinner::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
    inset: 0;
    border: var(--spinner-border-width) solid var(--spinner-color);
    border-left-color: transparent;
    border-right-color: transparent;
    animation: spinny var(--speed-of-animation) linear infinite;
   }

   @keyframes spinny {
    0% {
     transform: rotate(0deg) scale(1)
    }
   
    50% {
     transform: rotate(45deg) scale(var(--scale))
    }
   
    100% {
     transform: rotate(360deg) scale(1)
    }
   }
  