:root {
    width: 100%;
}
.carousel-inner img{
    width: 600px;
    height: auto;
    image-rendering: optimizeSpeed;
    margin: auto;
    box-shadow: 0 0 150px rgb(0, 255, 98);

}


.icon-box {
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 50px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 0 50px 10px rgb(83, 83, 83);
    
    

}

.icon-box img {
    height: 5em;
    width: auto;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0);
    /* box-shadow: 0 0 10px rgb(255, 255, 255); */
    transition: 500ms;

}

.icon-box img:hover {
    transform:scale(1.05)

}

@media (min-width: 420px) {
    #brand-row {
        margin: auto;
        width: 75%;
    }
    
}


@media (max-width: 767.98px) {
    .carousel-inner img{
        width: 400px;
    }
}