body {
    background-color: #353535;
}

.up-cbody {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}


.cbody {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.acard {
    position:relative;
    --background: linear-gradient(to left, #747474 0%, #afafaf 100%);
    /* display: flex;
    flex-direction: column; */
    margin: 10px;
    width: 210px;
    height: 330px;
    padding: 4px;
    border-radius: 1rem;
    /* overflow: visible; */
    /* background: #f7ba2b; */
    /* background: var(--background); */
    box-shadow: 0 0 10px 0px rgb(82, 82, 82);
    
    
    z-index: 1;
}

   
.card-info {

    --color: #3f3f3f;
    
    background: var(--color);
    color:#ea5358;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;

}

.c-img {
    position: absolute;
    width: 200px;
    height: 170px;
    border-radius: 10px;
    /* box-shadow: 0 6px 8px -1px rgb(102, 255, 0); */
}
   
.acard .title {
    padding: 0 5px; 
    margin-top: 202px;
    font-weight: bold;
    font-size: 0.75rem;
    letter-spacing: .07em;
    color:#ffd9db;

}
   
.i-price {
    color: rgb(255, 255, 255);
    padding: 6px;
    /* background-color: #383838; */
    font-weight: bold;
    letter-spacing: .15em;
    position: absolute;
    margin-top: 176px;
}

.btn-cart {
    margin-top: 280px;

}

.btn-det {
    margin-top: 250px;

}

#st-btn {
    /* padding: 1.3em 3em; */
    position: absolute;
    width: 100px;
    height: 25px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }
  
#st-btn:hover {
    background-color: #23c483;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    /* transform: translateY(-7px); */
  }
  
/* #st-btn:active {
    transform: translateY(-1px);
  } */

.Adetails {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #01f501;
    z-index: -1;
}

.details {
    position: absolute;
    background-color: #696969;
    width: 800px;
    height: 400px;
    margin-top: -80px;
    border-radius: 15px;
    color: aliceblue;
    z-index: 1;
    padding: 10px;
}

.details .div-data {
    width: 300px;
    left: 450px;
    position: absolute;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    height: 20px;
    z-index: -2;
}

.det-img {
    position: absolute;
    padding: 20px;
    width: 400px;
    height: 350px;
}

/* .clsbtn {
    padding: 10px;
    position: absolute;
    justify-content: center;
    align-items:center;
    margin-left: 300px;
} */

.clsbtn {
    background: none;
    border: 0;
    box-sizing: border-box;
    color: transparent;
    cursor: pointer;
    font-size: 0;
    left: 820px;
    letter-spacing: 1.5px;
    line-height: 20px;
    outline: none;
    overflow: hidden;
    opacity: 0.7;
    position: absolute;
    text-transform: uppercase;
    top: 20px;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in;
    width: 100px;
  }
  .clsbtn:hover {
    color: #8A2387;
    opacity: 1;
  }
  .clsbtn:before, .clsbtn:after {
    background-color: rgb(94, 255, 0);
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    transform-origin: center left;
    transition: all 0.2s ease-in;
    width: 26px;
    z-index: -1;
  }
  .clsbtn:before {
    top: 0;
    transform: rotate(45deg);
  }
  .clsbtn:after {
    bottom: 0;
    transform: rotate(-45deg);
  }
  